

/* body {
    background-image: url(violaImage.png);
  } */
  
  /* #jumboColor {
    background-image: linear-gradient(rgba(104, 93, 93, 0.5), rgb(200, 93, 60));
  } */
  
  h1 {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-weight: bold;
  }
  
  #buttonPlce {
    padding: 20px;
  }
  
  .timeEl {
    color: white;
  }
  
  /* .container {
    background-image: linear-gradient(rgba(104, 93, 93, 0.5), rgb(231, 88, 44));
  } */
   body {
      background-image: url(ClockCompositeDrkBlue.jpg);
      /* background-repeat: no-repeat; */
      background-size: 100%;
      background-attachment: fixed;
      background-position: center;
    }
  
  
  