
 body {
  background-image: url(ClockCompositeDrkBlue.jpg);
  /* background-repeat: no-repeat; */
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
}

  
  h1 {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-weight: bold;
  }
  
  #buttonPlce {
    padding: 20px;
  }
  
  .timeEl {
    color: white;
  }
  
 
  
  
  
  